<div class="input-wrap">
  <div class="input-helper">
    <input type="text" name="taskinput" id="taskinput" class="task-input" placeholder="add new item..." #taskinput
      required>
  </div>
  <mat-icon class="task-input__icon" (click)="addItem(taskinput.value)">add</mat-icon>
</div>

<div class="list-actions">
  <button class="list-actions__save" (click)="saveDraft()">Save as draft</button>
  <button class="list-actions__load" routerLink="../drafts">Load draft</button>
</div>

<mat-card class="card-list">
  <div class="card-list__title" contenteditable="true" #x (input)="listtitle = x.innerText">{{listtitle}}</div>
  <div class="card-list__progress-text">cart {{itemsticked}}/{{itemscount}}</div>
  <div class="progress">
    <div class="progress__back"></div>
    <div class="progress__front" [style.width.%]="progresswidth"></div>
  </div>
  <div class="card-list-wrap">
    <mat-spinner [diameter]="50" *ngIf="!items"></mat-spinner>
    <ul class="list">
      <li class="list__item" *ngFor="let item of items ; let i = index">
        <mat-checkbox color="primary" (click)="tickItem(item.key); clickedIndex = i" [checked]="item.done">
          {{item.name}}
        </mat-checkbox>
        <mat-icon class="close-icon" *ngIf="clickedIndex === i" (click)="deleteItem(item.key)">close</mat-icon>
      </li>
    </ul>
  </div>
</mat-card>