<div class="input-wrap">
  <div class="input-helper">
    <input type="text" name="taskinput" id="taskinput" class="task-input" placeholder="add new item..." #taskinput
      required>
  </div>
  <mat-icon class="task-input__icon" (click)="addItem(taskinput.value)">add</mat-icon>
</div>

<div class="list-actions">
  <button class="list-actions__save">Save as draft</button>
  <button class="list-actions__load">Load as draft</button>
</div>

<mat-card class="card-list">
  <div class="card-list__title">Shopping list name</div>
  <div class="card-list__progress-text">cart {{itemsticked}}/{{itemscount}}</div>
  <div class="progress">
    <div class="progress__back"></div>
    <div class="progress__front" [style.width.%]="progresswidth"></div>
  </div>
  <div class="card-list-wrap">
    <ul class="list">
      <li class="list__item" *ngFor="let item of items ">
        <mat-checkbox color="primary" (click)="tickItem(item.key)" [checked]="item.done">
          {{item.name}}
        </mat-checkbox>
      </li>
    </ul>
  </div>
</mat-card>