<mat-expansion-panel class="card-list" *ngFor="let draft of drafts">
  <mat-expansion-panel-header class="card-list__title">
    {{draft.key}}
  </mat-expansion-panel-header>
  <mat-panel-description>
    <div class="card-list-wrap">
      <ul class="list">
        <li class="list__item" *ngFor="let k of objectKeys(draft)">
          <ng-container #test>
            {{draft[k].name }}
          </ng-container>
        </li>
      </ul>
    </div>

    <div class="draft-actions">
      <button class="draft-actions__load">Load draft</button>
      <button class="draft-actions__add">Add to current list</button>
    </div>
  </mat-panel-description>
</mat-expansion-panel>