@import '../../scss/colors';

.card-list{
  margin: 0 1.5rem 2.5rem 1.5rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgba(183, 183, 183, 1) !important; //later change to correct one and everywhere same
  color: $text-color;

  &__title{
    position: relative;
    font-size: 1.1rem;
    margin-left: 15px;
  }
  &__title::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $primary-color;
  }

  .list{
    // list-style: none;
    padding: 0;

    &__item{
      font-size: 1rem;
      color: $text-color;
      padding: 5px;
      margin-left: 35px;
    }
    &__item::marker{
      color: $primary-color;
    }
  }
}

.draft-actions{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  &__add, &__load{
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 600;
    color: $primary-color;
    background-color: $secondary-color;
    letter-spacing: 1px;
    font-size: 0.8rem;
    box-shadow: 0px 0px 2px 0px rgba(183, 183, 183, 1); //later change to correct one and everywhere same
    font-family: Roboto;
  }
}