<mat-spinner [diameter]="50" *ngIf="!drafts"></mat-spinner>
<mat-expansion-panel class="card-list" *ngFor="let draft of drafts">
  <mat-expansion-panel-header class="card-list__title">
    {{draft.key}}
  </mat-expansion-panel-header>
  <mat-panel-description>
    <div class="card-list-wrap">
      <ul class="list">
        <ng-container *ngFor="let k of objectKeys(draft)">
          <li class="list__item" *ngIf="k != 'key'">
            {{draft[k] }}
          </li>
        </ng-container>
      </ul>
    </div>

    <div class="draft-actions">
      <button class="draft-actions__load">Load draft</button>
      <button class="draft-actions__add">Add to current list</button>
    </div>
  </mat-panel-description>
</mat-expansion-panel>