@import '../../scss/colors';

.top-nav{
  display: flex;
  justify-content: space-around;
  background-color: $accent-color;
  font-weight: 400;  
}
.top-nav a{
  text-decoration: none;
  color: $text-color;
}
.top-nav__item{
  position: relative;
}
.top-nav__active{

  &::before{
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 6px;
    border-radius: 15px;
    background-color: $primary-color;
  }
}
