<mat-toolbar class="top-nav">
  <a routerLink="list">
    <div class="top-nav__item" [ngClass]="{ 'top-nav__active' : isValue == 1 }" (click)="toggle(1)">List
    </div>
  </a>
  <a routerLink="recipes">
    <div class="top-nav__item" [ngClass]="{ 'top-nav__active' : isValue == 2 }" (click)="toggle(2)">Recipes</div>
  </a>
  <a routerLink="drafts">
    <div class="top-nav__item" [ngClass]="{ 'top-nav__active' : isValue == 3 }" (click)="toggle(3)">Drafts</div>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>