<mat-toolbar class="top-nav">
  <a routerLink="list">
    <div class="top-nav__item" routerLinkActive="top-nav__active">List
    </div>
  </a>
  <a routerLink="recipes">
    <div class="top-nav__item" routerLinkActive="top-nav__active">Recipes</div>
  </a>
  <a routerLink="drafts">
    <div class="top-nav__item" routerLinkActive="top-nav__active">Drafts</div>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>

<nav class="bottom-nav">
  <button class="bottom-nav__logout">
    <mat-icon>more_vert</mat-icon>
  </button>
  <button class="bottom-nav__logout">
    <mat-icon>settings</mat-icon>
  </button>
  <button class="bottom-nav__logout" (click)="signOut()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</nav>