<div class="container">
  <mat-card>
    <mat-card-title>
      <mat-icon class="card-icon" color="primary">fingerprint</mat-icon>
      Log in
    </mat-card-title>

    <form class="signin-form">
      <mat-form-field class="signin-form__full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. user@gmail.com" formControlName="email" #email>
      </mat-form-field>

      <mat-form-field class="signin-form__full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" #password>
      </mat-form-field>

    </form>

    <div class="signin-form__btns">
      <button mat-raised-button color="primary" (click)="authService.signIn(email.value, password.value)">Log
        in</button>
      <button mat-raised-button routerLink="/register-user">Sign up</button>
    </div>

  </mat-card>
</div>